* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(173, 255, 47, 0.7);
}
header {
    margin-bottom: 70px;
}

nav {
    max-width: 100%;
}
#navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: teal;
    max-height: 30px;
    padding: 1%;
    position: fixed;
    top: 0;
}

#navlinks li {
    list-style: none;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    transition: 0.5s;
}

#navlinks li a {
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
}

#home {
    flex-grow: 0.25;
}

#navlinks li:hover {
    font-size: 28px;
}

#navlinks li a:hover {
    color: black;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    max-width: 100%;
    margin-top: 2%;
}

#content h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    font-weight: 900;
    margin-left: 1%;
}

#content p {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-left: 1%;
    margin-bottom: 8%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    margin: 1%;
    background-color: whitesmoke;
    border: 1px solid black;
}

.card {
    max-width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
    background-color: rgb(216, 191, 216, 0.7);
}

.card h2 {
    border:1px solid rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: black;
    color: whitesmoke;
    margin: 2%; 
    justify-content: center;
}

.card img {
    width: 100%;
    /* align-items: flex-start; */
    justify-content: center;
}

.card p {
    border:1px solid rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: black;
    color: whitesmoke;
    justify-content: center;
}

